* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 11px;
}

window#waybar {
  background: rgba(218, 196, 247, 0);
}

/* WORKSPACES */
#workspaces {
  padding: 0px 3px;
  background: #feaeed;
  border-radius: 100px;
  margin: 2px 8px;
}

#workspaces button {
  padding: 0px 8px;
  margin: 4px 3px;
  border-radius: 60px;
  border: none;
  background: #fec2f1;
  color: #fec2f1;
  transition: 0.2s;
  font-weight: 900;
}

#workspaces button.focused {
  background: #fe85e4;
  color: #f202be;
  padding: 0px 25px;
}

#workspaces button.active {
  background: #fe85e4;
  padding: 0px 24px;
  color: #f202be;
}

#workspaces button:hover {
  background: #fe85e4;
  padding: 0px 24px;
  color: #f202be;
}

/* CLOCK */
#clock {
  padding: 0px 8px;
  margin: 4px 3px;
  border-radius: 60px;
  border: none;
  background: #fe85e4;
  padding: 0px 24px;
  color: #f202be;
  font-weight: 800;
  transition: 0.1s;
}

.modules-right,
.modules-left {
  padding: 0px 3px;
  background: #feaeed;
  border-radius: 100px;
  margin: 2px 8px;
}

/* RIGHT MODULES */
#pulseaudio,
#battery,
#network {
  padding: 0px 8px;
  margin: 4px 3px;
  border-radius: 60px;
  border: none;
  background: #fe85e4;
  padding: 0px 24px;
  color: #f202be;
  font-weight: 800;
  transition: 0.1s;
}

/* BATTERY STATES */
#battery.warning {
  color: #b58900;
}

#battery.critical {
  color: #dc322f;
}

#pulseaudio:hover,
#battery:hover,
#clock:hover,
#network:hover {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}
