* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 11px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
}

/* LEFT MODULES (Clock) */
#clock {
  padding: 0px 20px;
  margin: 4px 8px;
  background: #fe85e4;
  color: #f202be;
  border-radius: 100px;
  font-weight: 800;
}

/* CENTER MODULES (Workspaces) */
#workspaces {
  margin: 4px 8px;
  background: #feaeed;
  border-radius: 100px;
  padding: 0px 5px;
}

#workspaces button {
  padding: 0px 10px;
  margin: 4px 2px;
  border-radius: 100px;
  color: #f202be;
  background: #fec2f1;
  transition: all 0.3s ease;
  font-weight: 900;
  min-width: 20px;
}

#workspaces button.focused {
  background: #fe85e4;
  color: #f202be;
  padding: 0px 25px;
}

#workspaces button:hover {
  background: #fe85e4;
  box-shadow: inherit;
  text-shadow: inherit;
}

/* RIGHT MODULES */
#pulseaudio,
#battery {
  padding: 0px 20px;
  margin: 4px 8px;
  background: #fe85e4;
  color: #f202be;
  border-radius: 100px;
  font-weight: 800;
}

#battery.warning {
  color: #b58900;
}

#battery.critical {
  color: #dc322f;
}
